/**
 * fil: css/style.css
 **/

/* Reset: Meyer Style */
/* fjerner default browser styles */
@import 'reset.css';

/* Farve- og fontvariabler */
:root {
  /* farver */


  /* fonte */
  --overskrift: 'avenir';
  --broedtekst: 'niveau-grotesk';

  /* whitespace */
  --whitespace: .5rem;
}

html {
  scroll-behavior: smooth;

}

/* Wrap */
#wrap {
  min-height: 100vh;
}

/* forsideshow */



/* forsideshow slut */

main {
  overflow: hidden;
}

body {
  background-color: #f2e2d0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  background-image: url("https://www.transparenttextures.com/patterns/paper-2.png");
}

.tekstindholdforside h1{
  font-family: 'baskerville-urw', serif;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  margin: 10px;
}

.tekstindholdforside h2{
  font-family: 'baskerville-urw', serif;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin: 10px;
}

.tekstindholdforside h3{
  font-family: 'baskerville-urw', serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin: 10px;
  margin-bottom: 15px;
}

.tekstindholdforside p{
  font-family: 'baskerville-urw', serif;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  margin:auto;
}

.tekstindholdforside a{
  color: black;
}

/* Header */

header {
  background-color: #5e2d0f;
  margin: 0;
  padding: 0;
  height: 100px;
}

.headerikoner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.gg-search {
  font-size: 25px;
  color: #efdbcf;
}

.gg-user {
  color: #efdbcf;
  display: inline-block;
}

.searchikon {
justify-content: space-between;
}

header img {
  height: 100px;
}

/* Forsidebilleder mobil */

.forsidebilleder img {
  max-width: 100%;
  display: flex;
}

/*forsidebilleder mobil slut*/

/*Desktop forside indhold*/
.indextext {
  font-family: baskerville-urw, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.deltagnu {
  font-family: baskerville-urw, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.deltagnu a {
  cursor: pointer;
}

.quizforside img {
  width: 400px;
  display: inline-block;
  margin-top: 20px;
}


/* slideshow */

.slideshow a {
    height: 400px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    overflow: hidden;
    box-shadow: 10px 25px 30px rgba(0,0,0,0.3);
}

.slideshow {
  overflow: hidden;
  max-width: 70%;
  display: flex;
  margin: auto;

}

.wrapper {
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

.slideshow img {
  width: 100%;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

/*slideshow slut*/

/* Footer */

footer {
  background-color: #5e2d0f;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer p {
  text-align: center;
  color: #efdbcf;
  padding: 5px;
}

.footerelementer li {
  display: inline;
  padding: 5px;
}

.footerelementer a {
  color: #efdbcf;
  text-decoration: none;
}

.socials li {
  color: #efdbcf;
  padding: 5px;
}

.socials a {
  text-decoration: none;
  color: #efdbcf;
}

/*footer slut*/

/* desktop forsidebilleder */
.desktopforsidebilleder {
  display: flex;
  margin: 0;
  padding: 0;
}

.desktopforsidebilleder img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
}

#popup{
  transition: transform .2s;

}
#popup1:hover, #popup2:hover, #popup3:hover, #popup4:hover{
-ms-transform: scale(1.1); /* IE 9 */
 -webkit-transform: scale(1.1); /* Safari 3-8 */
 transform: scale(1.1);

}

.heroimg {
  max-width: 100%;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  font-family: 'Yellowtail', serif;
  border: solid 2px;
  padding: 10px;
}

.hero-text a {
  text-decoration: none;
  color: #efdbcf;
  text-shadow: 2px 2px #5e2d0f;
}

/* Her begynder de forskellige devices */

/* 1. Mobile enheder */
@media only screen and (max-width: 600px) {
#searchikon, #userikon {display: none;}
.slideshow {display: none;}
.indextext {display: none;}
.indextext {display: none;}
.deltagnu {display: none;}
#deskbilleder {display: none;}
.navbar {display: none;}
.quizforside {display: none;}
.heroimg {display:none;}
.herotext {display:none;}
.slideshow-container-frontp, .dotsf {display: none;}
.tekstindholdforside {display:none;}
}


/* 2. Tablets */

@media only screen and (min-width: 600px) {
.forsidebilleder {display:none;}
#searchikon, #userikon {display: none;}
.menu-wrap {display:none;}
.hero-text {font-size: 30px;}
.slideshow-container-frontp {max-width: 60%;}
.slideshow-container {max-width: 60%;}
}


/* 3. Stor skærm (slut her) */
@media only screen and (min-width: 768px) {
  .forsidebilleder {display: none;}
.menu-wrap {display:none;}
#searchikon, #userikon {display: none;}
.hero-text {font-size: 40px;}
.slideshow-container-frontp {max-width: 30%;}
.slideshow-container {max-width: 50%;}
}



@media only screen and (min-width: 992px) {
.menu-wrap {display:none;}
  .forsidebilleder {display: none;}
  #searchikon, #userikon {display: none;}
  .hero-text {font-size: 60px;}
  .slideshow-container {max-width: 50%;}
}


@media only screen and (min-width: 1200px){
  .forsidebilleder {display: none;}
  #searchikon, #userikon {display: none;}
  .menu-wrap {display:none;}
    .hero-text {font-size: 60px;}
    .slideshow-container {max-width: 50%;}
}
