@import 'reset.css';

/* Farve- og fontvariabler */
:root {
  /* farver */


  /* fonte */
  --overskrift: 'avenir';
  --broedtekst: 'niveau-grotesk';

  /* whitespace */
  --whitespace: .5rem;
}

/* Wrap */
#wrap {
  min-height: 100vh;
}

main {
  overflow: hidden;
}

body {
  background-color: #f3f0ed;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

/* Header */

header {
  background-color: #5e2d0f;
  margin: 0;
  padding: 0;
  height: 100px;
}

.headerikoner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.gg-search {
  font-size: 25px;
  color: #efdbcf;
}

.gg-user {
  color: #efdbcf;
  display: inline-block;
}

.searchikon {
justify-content: space-between;
}

header img {
  height: 100px;
}

/* Undersidebilleder mobil */

.undersidebilleder {
  max-width: 100%;
  display: flex;
}

h2 {
  column-span: all;
  display: flex;
  justify-content: center;
  font-family: 'itc-american-typewriter', 'sans';
  font-weight: 600;
  font-size: 40px;
}


.kolonner {
  column-count: 3;
  column-rule: 1px solid #5e2d0f;
  white-space: normal;
  padding: 15px;
}

.kolonne2 {
  column-count: 2;
  column-rule: 1px solid #5e2d0f;
  white-space: normal;
  padding: 15px;
}

/* slideshow */

.slideshowwrap {
  display: flex;
  justify-content: center;
}

.slideshow a {
    width: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    overflow: hidden;
}

.slideshow {
  width: 40vmin;
  overflow: hidden;
  border: 2px solid black;
  box-sizing: border-box;
  border: 8px solid #efdbcf;
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(0,0,0,0.3);
  display: inline-block;
}

.wrapper {
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

.slideshow img {
  width: 100%;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

/* Footer */

footer {
  background-color: #5e2d0f;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer p {
  text-align: center;
  color: #efdbcf;
  padding: 5px;
}

.footerelementer li {
  display: inline;
  padding: 5px;
}

.footerelementer a {
  color: #efdbcf;
  text-decoration: none;
}

.socials li {
  color: #efdbcf;
  padding: 5px;
}

.socials a {
  text-decoration: none;
  color: #efdbcf;
}



/* webshop */
.weboverskrift {
  font-family: yellowtail, sans-serif;
  font-size: 40px;
  color: #5e2d0f;
}



.image {
  position: relative;
  width: 180px;
  display: inline-block;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
transform: translateY(0);
}

.image__title {
  font-size: 25px;
  font-weight: bold;
}

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}



/*webgalleri for produkter */

.produktbeskrivelse {
  font-family: baskerville-urw, serif;
  font-weight: 400;
  font-style: normal;
  color: #5e2d0f;
  padding: 25px;
}

.produktbeskrivelse h2 {
  font-size: 40px;
}

.produktbeskrivelse p {
  font-size: 20px;
}

.gimages {
  width: 300px;
  display: inline-block;
  margin-top: 20px;
}

.CSSgal {
	position: relative;
	overflow: hidden;
	height: 400px; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	background: #efdbcf;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER!
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
	color: #fff;
	text-align: center;
}
.CSSgal .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}


/* Voting Poll */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

::selection{
  color: #fff;
  background: #5e2d0f;
}
.wrapper1{
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  margin: auto;
  width: 50%;
}
.polloverskrift{
  font-size: 22px;
  font-weight: 600;
  font-family: baskerville-urw, serif;
  font-style: normal;
}

.text {
  font-family: baskerville-urw, serif;
}
.wrapper1 .poll-area{
  margin: 20px 0 15px 0;
}
.poll-area label{
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 8px 15px;
  border: 2px solid #e6e6e6;
  transition: all 0.2s ease;
}
.poll-area label:hover{
  border-color: #ddd;
}
label.selected{
  border-color: #5e2d0f;!important;
}
label .row{
  display: flex;
  pointer-events: none;
  justify-content: space-between;
}
label .row .column{
  display: flex;
  align-items: center;
}
label .row .circle{
  height: 19px;
  width: 19px;
  display: block;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
label.selected .row .circle{
  border-color: #5e2d0f;
}
label .row .circle::after{
  content: "";
  height: 11px;
  width: 11px;
  background: #5e2d0f;
  border-radius: inherit;
  position: absolute;
  left: 4px;
  top: 4px;
  display: none;
}
.poll-area label:hover .row .circle::after{
  display: block;
  background: #e6e6e6;
}
label.selected .row .circle::after{
  display: block;
  background: #5e2d0f;!important;
}
label .row span{
  font-size: 16px;
  font-weight: 500;
}
label .row .percent{
  display: none;
}
label .progress{
  height: 7px;
  width: 100%;
  position: relative;
  background: #f0f0f0;
  margin: 8px 0 3px 0;
  border-radius: 30px;
  display: none;
  pointer-events: none;
}
label .progress:after{
  position: absolute;
  content: "";
  height: 100%;
  background: #ccc;
  width: calc(1% * var(--w));
  border-radius: inherit;
  transition: all 0.2s ease;
}
label.selected .progress::after{
  background: #efdbcf;
}
label.selectall .progress,
label.selectall .row .percent{
  display: block;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}

.labels {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.labeloverskrift {
  text-align: left;
  font-weight: 600;
  font-size: 25px;
  font-family: baskerville-urw, serif;
  font-style: normal;
}

.textlabel {
  font-weight: 600;
  font-size: 25px;
  font-family: baskerville-urw, serif;
  font-style: normal;
}

/* Her begynder de forskellige devices */

/* 1. Mobile enheder */
@media only screen and (max-width: 600px) { }
#searchikon, #userikon {
  display: none;
}

/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* 2. Tablets */

@media only screen and (min-width: 600px) { }



/* 3. Stor skærm (slut her) */
@media only screen and (min-width: 768px) { }



@media only screen and (min-width: 992px) { }




@media only screen and (min-width: 1200px){ }
