@import 'reset.css';

/* Farve- og fontvariabler */
:root {
  /* farver */


  /* fonte */
  --overskrift: 'avenir';
  --broedtekst: 'niveau-grotesk';

  /* whitespace */
  --whitespace: .5rem;
}

html {
  scroll-behavior: smooth;

}
/* Wrap */
#wrap {
  min-height: 100vh;
}

main {
  overflow: hidden;
}

body {
  background-color: #f3f0ed;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

/* Header */

header {
  background-color: #5e2d0f;
  margin: 0;
  padding: 0;
  height: 100px;
}

.headerikoner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.gg-search {
  font-size: 25px;
  color: #efdbcf;
}

.gg-user {
  color: #efdbcf;
  display: inline-block;
}

.searchikon {
justify-content: space-between;
}

header img {
  height: 100px;
}

/* Header slut */

/* Undersidebilleder mobil */

.undersidebilleder {
  max-width: 100%;
  display: flex;
}

h2 {
  column-span: all;
  display: flex;
  justify-content: center;
  font-family: 'itc-american-typewriter', 'sans';
  font-weight: 600;
  font-size: 40px;
}

.kolonner {
  column-count: 3;
  column-rule: 1px solid #5e2d0f;
  white-space: normal;
  padding: 15px;
}

.kolonne2 {
  column-count: 2;
  column-rule: 1px solid #5e2d0f;
  white-space: normal;
  padding: 15px;
}

/* slideshow */

.slideshowwrap {
  display: flex;
  justify-content: center;
}

.slideshow a {
    width: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    overflow: hidden;
}

.slideshow {
  width: 40vmin;
  overflow: hidden;
  border: 2px solid black;
  box-sizing: border-box;
  border: 8px solid #efdbcf;
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(0,0,0,0.3);
  display: inline-block;
}

.wrapper {
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

.slideshow img {
  width: 100%;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

/* Footer */

footer {
  background-color: #5e2d0f;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer p {
  text-align: center;
  color: #efdbcf;
  padding: 5px;
}

.footerelementer li {
  display: inline;
  padding: 5px;
}

.footerelementer a {
  color: #efdbcf;
  text-decoration: none;
}

.socials li {
  color: #efdbcf;
  padding: 5px;
}

.socials a {
  text-decoration: none;
  color: #efdbcf;
}

/*footer slut */

/* desktop forsidebilleder */
.desktopforsidebilleder {
  display: flex;
}

.desktopforsidebilleder img {
  max-width: 100%;
}

#popup{
  transition: transform .2s;

}
#popup1:hover, #popup2:hover, #popup3:hover, #popup4:hover{
-ms-transform: scale(1.1); /* IE 9 */
 -webkit-transform: scale(1.1); /* Safari 3-8 */
 transform: scale(1.1);

}


/* Her begynder de forskellige devices */

/* 1. Mobile enheder */
@media only screen and (max-width: 600px) { }
#searchikon, #userikon {
  display: none;
}

/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* 2. Tablets */

@media only screen and (min-width: 600px) {
.menu-wrap {display:none;}

}



/* 3. Stor skærm (slut her) */
@media only screen and (min-width: 768px) {
.menu-wrap {display:none;}
}


@media only screen and (min-width: 992px) {
.menu-wrap {display:none;}
.labels {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.textlabel {
  font-weight: 400;
  font-size: 20px;
  font-family: baskerville-urw, serif;
  font-style: normal;
  padding: 15px;
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
}
}



@media only screen and (min-width: 1200px){ }
